<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./app.logs</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %msg%n</pattern>
        </encoder>
        <append>true</append>
    </appender>
    <logger name="edu.sjsu.cs" level="TRACE" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.apache.zookeeper" level="INFO" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.apache.kafka" level="TRACE" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
    <shutdownHook/>
</configuration>